.product{
    display: flex;
    padding-top: 100px;
    padding-left: 30px;
}

.product a{
    color: white;
    text-decoration: none;
}
.product a:hover{
    color: aquamarine;
}

.product p{
    color: gray;
}

.product-logo{
    width: 200px;
}

.text1{
    padding-left: 20px;
}